body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*primary*/
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /*Neutral*/
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

.container {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    user-select: none;
}

header {
    width: 100%;
    height: 4rem;
    background: var(--white);
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

header nav {
    width: 75rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.header-links a {
    color: var(--grayish-blue);
    font-size: 15px;
    font-family: "Public Sans";
}

.req-invite-container {
    width: 10rem;
    height: 2.5rem;
    border: hidden;
    background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
    display: grid;
    place-items: center;
    border-radius: 50px;
}

.req-invite {
    color: var(--white);
    font-size: 15px;
    font-family: "Public Sans";
}

main {
    width: 100%;
    height: auto;
}

.next-generation-container {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
    background-color: var(--very-light-gray);
    overflow-x: hidden;
}

.digital-content-container {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
}

.digital-content {
    width: 28rem;
    height: 20rem;
    padding: 5px;
}

.digital-content h1 {
    font-family: "Public Sans";
    font-size: 55px;
    font-weight: normal;
    margin-top: 0;
}

.digital-content p {
    color: var(--grayish-blue);
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 1.4;
    margin-top: 0;
}

.digital-content .req-invite-container {
    transform: translateY(1rem);
}

.phone-container {
    width: 50%;
    height: 100%;
    background-image: url("./easybank-landing-page-master/images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: -3rem;
    background-position-y: -13rem;
}

.phone-container img {
    position: absolute;
    z-index: 1;
    transform: scale(0.9) translate(4rem, -6rem);
}

.why-easybank-container {
    width: 100%;
    height: 35rem;
    display: grid;
    place-items: center;
    background-color: var(--light-grayish-blue);
}

.why-easybank-content {
    width: 79rem;
    height: 27rem;
}

.reason-title {
    width: 40rem;
    height: 10rem;
}

.reason-title h1 {
    font-family: "Public Sans";
    font-size: 32px;
    font-weight: normal;
}

.reason-title p {
    color: var(--grayish-blue);
    font-family: "Public Sans";
    font-size: 18px;
    line-height: 1.4;
    margin-top: 0;
}

.reason-div {
    width: 100%;
    height: 17rem;
    display: grid;
    grid-template-areas:
        'online simple fast api';
    grid-column-gap: 1.5rem;
}

.reason-grid {
    width: calc(74.5rem / 4);
    height: 100%;
}

.reason-grid h2 {
    font-weight: normal;
    color: var(--dark-blue);
    font-family: "Public Sans";
}

.reason-grid p {
    font-size: 18px;
    color: var(--grayish-blue);
    font-family: "Public Sans";
    line-height: 1.5;
}

.reason-1 {
    grid-area: online;
}

.reason-2 {
    grid-area: simple;
}

.reason-3 {
    grid-area: fast;
}

.reason-4 {
    grid-area: api;
}

.latest-article-container {
    width: 100%;
    height: 35rem;
    background-color: var(--very-light-gray);
    display: grid;
    place-items: center;
}

.latest-article-content {
    width: 79rem;
    height: 30rem;
}

.latest-article-content h1 {
    font-family: "Public Sans";
    font-size: 32px;
    font-weight: normal;
    color: var(--dark-blue);
}

.article-div {
    width: 100%;
    height: 25rem;
    display: grid;
    grid-template-areas:
        'currency food plane confetti';
    grid-column-gap: 1.5rem;
}

.articles {
    width: calc(74.5rem / 4);
    height: 100%;
    background-color: var(--white);
}

.art-img {
    width: 100%;
    height: 50%;
    background-size: 100%;
    background-position: center;
}

.articles-1 {
    grid-area: currency;
}

.articles-2 {
    grid-area: food;
}

.articles-3 {
    grid-area: plane;
}

.articles-4 {
    grid-area: confetti;
}

.article-start {
    width: 17rem;
    height: 45%;
    margin: auto;
}

.article-start p:first-of-type{
    font-size: 11px;
    color: var(--grayish-blue);
    font-family: "Public Sans";
    transform: translateY(0.5rem);
}

.article-start p:nth-of-type(2) {
    font-size: 20px;
    color: var(--dark-blue);
    font-family: "Public Sans";
}

.article-start p:nth-of-type(3) {
    font-size: 13px;
    color: var(--grayish-blue);
    font-family: "Public Sans";
    line-height: 1.4;
    transform: translateY(-0.5rem);
}

.article-img-1 {
    background-image: url("./easybank-landing-page-master/images/image-currency.jpg");
}

.article-img-2 {
    background-image: url("./easybank-landing-page-master/images/image-restaurant.jpg");
}

.article-img-3 {
    background-image: url("./easybank-landing-page-master/images/image-plane.jpg")
}

.article-img-4 {
    background-image: url("./easybank-landing-page-master/images/image-confetti.jpg");
}

footer {
    width: 100%;
    height: 12rem;
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
}

.footer-content-container {
    width: 70rem;
    height: 9rem;
    border: 2px solid red;
    display: flex;
    align-items: center;
}

.media-links {
    width: 15rem;
    height: 7rem;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    filter: brightness(250%);
}